nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

@media( max-width: 650px){
    nav > ul{
        flex-direction: column;
    }
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}